/* *{
    background-color: aquamarine;
} */

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #120012;
    text-align: center;
}

.card {
    background-color:#edcccf;
    color: white;
}

button {
 background-color: #f3a2f5;   
}